
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/projectManager.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Project Manager</title>
</head>
<body>
    <div class="content">
        <div class="header"><img src="~/Content/images/page_header.png" /></div>
        <div id="projectsSection"></div>
        <button id="addProject" class="blue text"><img src="~/Content/images/add_project_btn.png" /><span>Add TODO List</span></button>
    </div>
    <template id="projectTemplate">
        <div class="projectContainer">
            <div class="row project blue">
                <div class="col col-xs-1 projectIcon"><img src="~/Content/images/project_icon.png" /></div>
                <div class="col col-xs-9 text"><input class="projectName" type="text" spellcheck="false" disabled /></div>
                <div class="col col-xs-2">
                    <div class="btn-group">
                        <button class="editProjectBtn"><img src="~/Content/images/edit_project.png" /></button>
                        <button class="separator projectBtnSeparator"></button>
                        <button class="deleteProjectBtn"><img src="~/Content/images/delete_project.png" /></button>
                    </div>
                </div>
            </div>
            <div class="row addTask">
                <div class="col col-xs-1"><img src="~/Content/images/add_task.png" /></div>
                <div class="col col-xs-9 "><input class="newTaskName" placeholder="Start typing here to create a task..." /></div>
                <div class="col col-xs-2">
                    <button class="addTaskBtn"><span>Add task</span></button>
                </div>
            </div>
        </div>
    </template>

    <template id="taskTemplate">
        <li class="row task">
            <div class="col col-xs-1"><input type="checkbox" class="taskStatus"></div>
            <div class="col col-xs-9 "><input type="text" class="taskName" spellcheck="false" disabled></div>
            <div class="col col-xs-2">
                <div class="priority">
                    <button class="priorityUp">
                        <img src="~/Content/images/priority_up.png" />
                    </button>
                    <div class="horizontal-separator"></div>
                    <button class="priorityDown">
                        <img src="~/Content/images/priority_down.png" />
                    </button>
                </div>
                <button class="separator taskBtnSeparator"></button>
                <button class="editTaskBtn"><img src="~/Content/images/edit_task.png" /></button>
                <button class="separator taskBtnSeparator"></button>
                <button class="deleteTaskBtn"><img src="~/Content/images/delete_task.png" /></button>
            </div>
        </li>
    </template>
    <footer><img src="~/Content/images/page_footer.png" /></footer>

</body>
</html>
